.footer {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  border-radius: 2px;
}

.footerContent {
  display: flex;
  justify-content: space-around;
}

.footerItem {
  margin-right: 20px;
  text-align: left;
}

.footerInput {
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.footerButton {
  margin-top: 10px;
  padding: 5px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.footerButton:hover {
  background-color: #45a049;
}
.hr {
  width: 100%;
  text-align: left;
  margin-left: 0;
  margin-top: -60px;
}
.footerIcons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.socialIcons {
  font-size: 25px;
}
.footerIcon {
  border-color: black;
  background-color: white;
  padding: 5px;
  margin: 2px;
  color: black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}
.pay {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.input {
  padding: 10px 40px 10px 40px;
  border-radius: 5px;
}
.subscribe {
  color: grey;
  background-color: black;
  margin: 2px;
  padding: 10px 40px 10px 40px;

  border-radius: 5px;
  border-color: grey;
  font-size: 10px;
}
.copyright {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footerItem > p:not(:first-child) {
  display: block;
}
.footerItem {
  display: block;
}

.currency {
  font-size: x-small;
}
.rightFooter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  justify-items: center;
}
.contactCUrr {
  display: flex;
  flex-direction: column;
}
.curr{
  margin: 5px;
}
@media (max-width: 768px) {
  .footerContent {
    flex-direction: column;
  }

  .footerItem {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .currency{
    display: none;
  }
  .inputSub{
    display: flex;
    overflow: hidden;
  }
  .customer{
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
  }
  .rightFooter{
    margin: -10px;
  }

  .footerItem.active > p:not(:first-child) {
    display: block;
  }
}
