.logo-header {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .head{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .numbers {
    display: flex;
    margin-left:20px;
    margin-right: 40px;
    align-items: center;
    justify-content: space-between;
  }
  
  .number {
    font-size: 24px;
  }
  .flower{
    font-size: 24px;
    margin-left: 40px;
  }
 