.navBar {
  display: flex;
  align-items: flex-end;
  margin: 80px 80px 80px 80px;
  justify-content: space-evenly;
  cursor: pointer;
}
.hr {
  width: 100%;
  text-align: left;
  margin-left: 0;
  margin-top: -60px;
}
